<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eje Turismo - Noticias</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
        <div class="container">
            <div class="dropdown" style="margin-top: 10px; margin-bottom: 10px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><div class="container">¡Hola {{ nombre }}! Estas son las noticias!</div></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Cerrar sesión</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/suscriptor/deactivate">Desactivar cuenta</a></li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top:60px;">
        <div class="row">
            <div class="dropdown col-sm-7" style="margin-top: 10px; margin-bottom: 10px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Filtrar por interes
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li role="separator" class="divider"></li>
                    {% for interes in intereses %}
                    <li><a onclick="porInteres('{{ interes.nombre }}')">{{ interes.nombre }}</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
            <div class="dropdown col-sm-2" style="margin-top: 10px; margin-bottom: 10px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Filtrar por municipios
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li role="separator" class="divider"></li>
                    {% for municipio in municipios %}
                    <li><a onclick="porMunicipio('{{ municipio.nombre }}')">{{ municipio.nombre }}</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                </ul>
            </div>
        </div>
        <div class="row" id="noticias">
          <div class="col-md-9">
            {% for noticia in noticias %}
            <div class="thumbnail">
                {% if noticia.is_video %}
                    <iframe src="/media/{{ noticia.imagen }}" width="100%" height="400px"></iframe>
                {% else %}
                    <img src="/media/{{ noticia.imagen }}" width="100%">
                {% endif %}
                <div class="caption-full">
                    <h4><a href="#">{{ noticia.titulo }}</a>
                    </h4>
                    <p>{{ noticia.descripcion }}</p>
                </div>
                <p><span class="badge badge-default">{{ noticia.administrador.municipio.nombre }}</span><span class="badge badge-default">{{ noticia.interes.nombre }}</span></p>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
        noticias = [];
        {% for noticia in noticias %}
            noticia = {titulo:'{{ noticia.titulo }}', descripcion: '{{ noticia.descripcion }}', imagen: '/media/{{ noticia.imagen }}', is_video: '{{ noticia.is_video }}', interes:'{{ noticia.interes.nombre }}', municipio: '{{ noticia.administrador.municipio.nombre }}'};
            noticias.push(noticia);
        {% endfor %}
    </script>

    <script type="text/javascript">
        function porInteres(interes) {
            $('#noticias').empty();
            for (var i = 0; i < noticias.length; i++) {
                noticia = noticias[i];
                if (noticia.interes == interes) {
                    str = '<div class="thumbnail">';
                    if (noticia.is_video == "True") {
                        str = str + '<iframe src="'+noticia.imagen+'" width="100%" height="400px"></iframe>';
                    } else {
                        str = str + '<img src="'+noticia.imagen+'" width="100%">';
                    }
                    str = str + '<div class="caption-full">' +
                        '<h4><a href="#">'+noticia.titulo+'</a></h4>'+
                        '<p>'+noticia.descripcion+'</p>'+
                        '</div>'+
                        '<p><span class="badge badge-default">'+noticia.municipio+'</span><span class="badge badge-default">'+noticia.interes+'</span></p>'+
                    '</div>';
                    $('#noticias').append(str);
                }
            }
        }
        function porMunicipio(municipio) {
            $('#noticias').empty();
            for (var i = 0; i < noticias.length; i++) {
                noticia = noticias[i];
                if (noticia.municipio == municipio) {
                    str = '<div class="thumbnail">';
                    if (noticia.is_video == "True") {
                        str = str + '<iframe src="'+noticia.imagen+'" width="100%" height="400px"></iframe>';
                    } else {
                        str = str + '<img src="'+noticia.imagen+'" width="100%">';
                    }
                    str = str + '<div class="caption-full">' +
                        '<h4><a href="#">'+noticia.titulo+'</a></h4>'+
                        '<p>'+noticia.descripcion+'</p>'+
                        '</div>'+
                        '<p><span class="badge badge-default">'+noticia.municipio+'</span><span class="badge badge-default">'+noticia.interes+'</span></p>'+
                    '</div>';
                    $('#noticias').append(str);
                }
            }
        }
    </script>

</body>

</html>
